@media (max-width: 1300px){
	#navbar{
		display:none;
	}
	.overlay-navbar{
		display:block;
	}
	.menu_icon{
		display:inline-block;
	}
	.mp_text{
		margin: 5%;
		margin-top: 80px;
	}
}

@media (max-width: 720px){
	.logo-header{
		margin-left: 5%;
	}
	.mp_textbox_container h1{
		font-size: 52px;
	}
	.mp_textbox_container{
		padding-top: 100px;
	}
}

@media (min-width: 720px){
	.padding_left{
		padding-left: 50px;
	}	

	.padding_right{
		padding-right: 50px;
	}
}
