body{
	background-color: #525659;
	font-family: acumin-pro, sans-serif;
	font-style: normal;
	font-weight: 100;
	float:left;
	position: relative;
	width: 100%;
}

img{
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

ul{
	margin-bottom: 0;
	list-style-type: none;
}

a{
	color: white;
}

a:link {
    text-decoration: none;
	color: white;
}

a:hover {
    color: #a3892a;
}


/*POSICIONES*/

.fixed{
	position: fixed;
}

.relative{
	position: relative;
}

/*HEADER*/
.container {
	max-width: 100%;
	padding: 0;
	overflow: hidden;
}

.logo-header{
	max-height: 65px;
	margin-left: 15%;
}

.site-header{
	top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
	background-color: rgba(35, 31, 32, 1);
    padding: 58px 0;
	font-size:	25px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mainnav ul li {
	float: left;
    padding: 0 38px;
    position: relative;
}

.mainnav ul {
    margin-left: 25px;
}

.overlay-navbar{
	position: absolute;
    z-index: 9999;
    height: 100%;
    background-color: rgba(35, 31, 32, 0.9);
    width: 0%;
	overflow: hidden;
	text-align: center;
	font-size: 25px;
	display: none;
}

.overlay-navbar div{
	margin-top: 25px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.menu_icon {
    display: none;
    cursor: pointer;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}	

/*SLIDER*/

.rslides {
	max-height: 750px;	
}

.background{
	background-color: white;
	width: 100%;
	height: 1000px;
}

.texto{
	font-family: acumin-pro, sans-serif;
	text-align: center;
	padding: 40px;
	width: 100%;
	font-size: 45px;
	padding-top: 120px;
	font-weight: bold;
	color: gold;
}

.rslides_container {
  position: relative;
  float: left;
  width: 100%;
}

.centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("http://responsiveslides.com/with-captions/themes.gif") no-repeat left top;
  margin-top: -45px;
}

.centered-btns_nav:active {
  opacity: 1.0;
}

.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
}

/**mandarle primera letra grande al L del texto
.texto::first-letter { 
    font-size: 200%;
    color: #8A2BE2;
}
*/

/*TEXTO*/

.mp_textbox_container{
	background-color: #F0E8D2;
	width: 100%;
	position: relative;
	float: left;
	padding-top: 200px;
}

.mp_textbox_container h1{
	text-align: center;
	color: #a3892a;
	font-size: 60px;
	font-weight: bold;
}

.mp_text{
	margin: 10%;
	margin-top: 80px;
}

.fl_margin::first-letter{
   margin-left: 1.2em;
}

.firstletter{
	float:left;
	font-size: 200px;
	margin-top: 10px;
}

.cur_textbox_container{
	background-color: #F0E8D2;
	width: 100%;
	position: relative;
	float: left;
	background-image: url("../pictures/_IRE6525.jpg");
	background-size: cover;
}

.cur_textbox_container h1{
	text-align: center;
	color: white;
	font-size: 60px;
	font-weight: bold;
	margin-top: 45px;
    margin-bottom: 65px;
}

.courses_list_container{
	background-color: #FFFFFF;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 100px;
	margin-bottom: 100px;
	padding-top: 130px;
    padding-bottom: 130px;
}

.courses_list_container h2{
	color: #a3892a;
}

.courses_list_container p{
	font-size: 12px;
}

.cur-text{
	margin-left: 47px;
    margin-right: 50px;
}